@model Adminn.Models.Menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.food_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.food_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
