@{
    ViewBag.Title = "Главная";
}

<!DOCTYPE html>

<html>
<head runat="server">

    <link href="@Url.Content("~/CSS/bootstrab.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/style.css")" rel="stylesheet" type="text/css" />


    <script src="@Url.Content("~/JS/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/jssor.slider.mini.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/bootstrap.js")" type="text/javascript"></script>

    <title>Ынтымак</title>

</head>
<body>
    
    <div id="gradient"></div>
    
    <div id = "main">
        <div id="title">
            <div id="title_headers">
                <h2 id="small_title1">ресторан</h2>
                <h1 id="big_title">Ынтымак</h1>
                <h2 id="small_title2">мейрамхана</h2>
            </div>
        </div>
            
        <div id="menu">
            @{ Html.RenderAction("Menu", "Nav"); }
        </div>

        <div id="slider">
            @{ Html.RenderAction("Slider", "Slide"); }
        </div>

        <div id="news">
            <div class="nblock">
            </div>
            <div class="nblock"></div>
            <div class="nblock"></div>
        </div>

        <div id="bottom_menu">
            @{ Html.RenderAction("BottomMenu", "Nav"); }
        </div>

    </div>

</body>
</html>